depends/work/
depends/sources/
depends/x86_64-w64-mingw32/
depends/x86_64-pc-linux-gnu/
depends/built/
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/xdna
src/xdnad
src/xdna-cli
src/xdna-tx
src/test/test_xdna
src/qt/test/test_xdna-qt
src/bench/bench_xdna

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/xdna-config.h
src/config/xdna-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.xdna
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
xdna-qt
XDNA-Qt.app

# Unit-tests
Makefile.test
xdna-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_xdna.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.vscode
.cproject
.project
.autotools
/doc/doxygen/

libbitcoinconsensus.pc
libxdnaconsensus.pc
src/qt/xdna-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
xdna-cli
xdnad
xdna-qt
make

#development local files
configure.local

*/build-aux/*
src/Makefile

contrib/devtools/split-debug.sh

# Qt creator
*.pro.user
