/**************************************XDNA**********************************************/
/****************************************************************************************/
                    /*************** GLOBAL STYLE*****************/
/****************************************************************************************/

* {
    font-size: 12px;
    }

    QMainWindow {
     background-color: #ffffff;
    }

    QWidget {
    outline:0;
    }

    WalletFrame {
        background-color: #ffffff;
        border-style: none;
    }


    /* Global Top Style */
    QMenuBar {
    background-color:#fff;
    }

    QMenuBar::item {
    background-color:#fff;
    color:#333;
    }

    QMenuBar::item:selected {
    background-color:#e7f3fa;
    }

    QMenu {
     border: 1px solid #9f9f9f;
    background-color:#fff;
    }

    QMenu::item {
    color:#333;
    }

    QMenu::item:selected {
    background-color:#e7f3fa;
    color:#333;
    }



    /* Global ProgressBar Style */
    QProgressBar {
        color: rgb(114, 112, 112);
        border: 1px solid #d2d2d2;
        border-radius:0px;
        background-color:transparent;
        font-size: 12px;
        text-align: center;
        }


        QProgressBar::chunk {
        background-color:rgb(158,208,233);
        width: 20px;
       }


    /* Base Text Size & Color */
    QLabel {
            font-size:12px;
            color:rgb(0, 0, 0);

                 }



    /* Global Push Button Style */

    QPushButton {
        background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #3868AA, stop: .1 #3868AA, stop: .95 #3868AA, stop: 1 #3868AA);
        border:0;
        border-radius:0px;
        color: #ffffff;
        font-size:12px;
        padding-left:25px;
        padding-right:25px;
        padding-top:5px;
        padding-bottom:5px;
        }

        QPushButton:hover {
        background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #00468c, stop: .1 #00468c, stop: .95 #00468c, stop: 1 #00468c);
        }

        QPushButton:focus {
        border:none;
        outline:none;
        }

        QPushButton:pressed {
        border:1px solid #333;
        }


    /* Global TAB's Style */

    QTabWidget::pane {
      border:1px solid #d2d2d2;
        background: white;
    }

    QTabWidget::tab-bar:top {
        top: 1px;
    }

    QTabWidget::tab-bar:bottom {
        bottom: 1px;
    }

    QTabWidget::tab-bar:left {
        right: 1px;
    }

    QTabWidget::tab-bar:right {
        left: 1px;
    }

   QTabWidget::tab:disabled 
   { width: 0; height: 0; margin: 0; padding: 0; border: none; }

    QTabBar::tab {
        border: 1px solid #d2d2d2;
    }

    QTabBar::tab:selected {
        background: white;
    }

    QTabBar::tab:!selected {
        background: transparent;
    }

    QTabBar::tab:!selected:hover {
        border-bottom-color: rgb(158,208,233);;
        border-bottom-width:2px;
    }

    QTabBar::tab:top:!selected {
        margin-top: 3px;
    }

    QTabBar::tab:bottom:!selected {
        margin-bottom: 3px;
    }

    QTabBar::tab:top, QTabBar::tab:bottom {
        min-width: 8ex;
        margin-right: -1px;
        padding: 5px 10px 5px 10px;
    }

    QTabBar::tab:top:selected {
        border-bottom-color: none;
    }

    QTabBar::tab:bottom:selected {
        border-top-color: none;
    }

    QTabBar::tab:top:last, QTabBar::tab:bottom:last,
    QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
        margin-right: 0;
    }

    QTabBar::tab:left:!selected {
        margin-right: 3px;
    }

    QTabBar::tab:right:!selected {
        margin-left: 3px;
    }

    QTabBar::tab:left, QTabBar::tab:right {
        min-height: 8ex;
        margin-bottom: -1px;
        padding: 10px 5px 10px 5px;
    }

    QTabBar::tab:left:selected {
        border-left-color: none;
    }

    QTabBar::tab:right:selected {
        border-right-color: none;
    }

    QTabBar::tab:left:last, QTabBar::tab:right:last,
    QTabBar::tab:left:only-one, QTabBar::tab:right:only-one {
        margin-bottom: 0;
    }

    /* Global QMessageBox Style */
    QMessageBox {
    background-color:#ffffff;
    }

    /* Global ToolTip  Style */
    QToolTip {
    color: white;
    background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                                    stop: 0 #3d70b4,
                                    stop: 1 #273c82);
    border:1px solid #333;

    }


    /* Global TABLE Style */

    QHeaderView { /* Table Header */
    background-color:transparent;
    outline:0;
    }

    QHeaderView::section { /* Table Header Sections */
    qproperty-alignment:center;
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #273c82,
                                    stop: 1 #3d70b4);
    color:#fff;
    min-height:25px;
    font-weight:bold;
    font-size:11px;
    border:0;
    border-right:1px solid #fff;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    }

    QHeaderView::section:last {
    border-right:0;
    }

    .QScrollArea {
    background:transparent;
    border:0;
    }

    .QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
    background:transparent;
    border:1px solid #333;
    }

    QTableView::item { /* Table Item */
    background-color:#fcfcfc;
    font-size:12px;
    }

    QTableView::item:selected { /* Table Item Selected */
    background-color:#e7f3fa;
    color:#000000;
    }

    QTableWidget { /* Table Background */
    background-color:#ffffff;
    border:1px solid #333;
    }

    QTableWidget:focus, QTableView, QTableView:focus { /* Remove focus outline */
    outline:0;
    background:transparent;
    }

    QTreeWidget { /* Tree Background */
    background-color:#fcfcfc;
    alternate-background-color:#f2f2f2;
    color:#333;
    }

    QScrollBar { /* Scroll Bar */

    }

    QScrollBar:vertical { /* Vertical Scroll Bar Attributes */
    border:0;
    background:#ffffff;
    width:18px;
    margin:18px 0px 18px 0px;
    }

    QScrollBar:horizontal { /* Horizontal Scroll Bar Attributes */
    border:0;
    background:#ffffff;
    height:18px;
    margin:0px 18px 0px 18px;
    }


    QScrollBar::handle:vertical { /* Scroll Bar Slider - vertical */
    background:#e0e0e0;
    min-height:10px;
    }

    QScrollBar::handle:horizontal { /* Scroll Bar Slider - horizontal */
    background:#e0e0e0;
    min-width:10px;
    }

    QScrollBar::add-page, QScrollBar::sub-page { /* Scroll Bar Background */
    background:#F8F6F6;
    }

    QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { /* Define Arrow Button Dimensions */
    background-color:#F8F6F6;
    border: 1px solid #f2f0f0;
    width:16px;
    height:16px;
    }

    QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
    background-color:#e0e0e0;
    }

    QScrollBar::sub-line:vertical { /* Vertical - top button position */
    subcontrol-position:top;
    subcontrol-origin: margin;
    }

    QScrollBar::add-line:vertical { /* Vertical - bottom button position */
    subcontrol-position:bottom;
    subcontrol-origin: margin;
    }

    QScrollBar::sub-line:horizontal { /* Vertical - left button position */
    subcontrol-position:left;
    subcontrol-origin: margin;
    }

    QScrollBar::add-line:horizontal { /* Vertical - right button position */
    subcontrol-position:right;
    subcontrol-origin: margin;
    }

    QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { /* Arrows Icon */
    width:10px;
    height:10px;
    }

    QScrollBar:up-arrow {
    background-image: url(':/images/upArrow_small');
    }

    QScrollBar:down-arrow {
    background-image: url(':/images/downArrow_small');
    }

    QScrollBar:left-arrow {
    background-image: url(':/images/leftArrow_small');
    }

    QScrollBar:right-arrow {
    background-image: url(':/images/rightArrow_small');
    }

    QSlider::handle:horizontal {
    background-color:#f2f2f2;
    border:1px solid #c2c2c2;
    border-radius:10px;
    }

    QSlider::sub-page:horizontal {
    background-color:#000000;
    border-color:#c2c2c2;
    border-radius:3px;
    }

    QSlider::add-page:horizontal {
    background-color:#dedede;
    border:1px solid #c2c2c2;
    border-radius:3px;
    }



    /* Global  Dropdown Menus style */

    QComboBox {
    border: 1px solid #d2d2d2;
    background:#ffffff;
    min-height: 15px;
    padding: 3px;

    border-bottom-color:#c7e2f1;
    border-top-color:#5794bf;
    border-left-color:#b7d5ea;
    border-right-color:#c5daed;

    }

    QComboBox:checked {
    background:#f2f2f2;
    }

    QComboBox:editable {
    background:#00468c;
    color:#616161;
    border:0px solid transparent;
    }

    QComboBox::drop-down {
    width:25px;
    border:0px;
    }

    QComboBox::down-arrow {
    border-image: url(':/images/downArrow') 0 0 0 0 stretch stretch;
    }

    QComboBox QListView {
    background:#ffffff;
    border:1px solid #d2d2d2;
    padding-right:1px;
    padding-left:1px;
    color:#818181;
    }

    QComboBox QAbstractItemView::item {
    margin:4px;
    }

    QComboBox::item {
    color:#818181;
    }

    QComboBox::item:alternate {
    background:#fff;
    }

    QComboBox::item:selected {
    border:0px solid transparent;
    background:#f2f2f2;
    }

    QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
    }



    /* Global  RadioButton  style */
    .QRadioButton { /* Radio Button Labels */
    color:#333333;
    }


    /* Global CheckBox style */
    QCheckBox { /* Checkbox Labels */
    color:#333333;
    background-color:transparent;
    border-radius: 0px;
    }

    QCheckBox:hover {
    background-color:transparent;
    }

    /* Global LineEdit style */
    .QValidatedLineEdit, .QLineEdit { /* Text Entry Fields */

    border: 1px solid #000000;
    font-size:11px;
    min-height:15px;
    outline:0;
    padding:3px;
    background-color:#ffffff;
    color:#333333;

    border-bottom-color:#c7e2f1;
    border-top-color:#5794bf;
    border-left-color:#b7d5ea;
    border-right-color:#c5daed;

    }

    .QValidatedLineEdit, .QLineEdit:!focus {
    font-size:11px;

    border-bottom-color:#c7e2f1;
    border-top-color:#5794bf;
    border-left-color:#b7d5ea;
    border-right-color:#c5daed;
    }



    .QValidatedLineEdit, .QLineEdit:focus{

    background-color:#ffffff;
    font-size:12px;
    }


    .QValidatedLineEdit:disabled, .QLineEdit:disabled {
    background-color:#f2f2f2;
    border: 1px solid #d2d2d2;
    }

    /* amount input */

    QAbstractSpinBox {
    border:1px solid #000000;
    padding: 3px 5px 3px 5px;
    background:#fcfcfc;
    min-height:15px;
    color:#818181;

    border-bottom-color:#c7e2f1;
    border-top-color:#5794bf;
    border-left-color:#b7d5ea;
    border-right-color:#c5daed;
    }

    QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width:21px;
    background:#fcfcfc;
    border-left:0px;
    border-right:1px solid #000000;
    border-top:1px solid #000000;
    border-bottom:0px;
    padding-right:1px;
    padding-left:5px;
    padding-top:2px;

    border-bottom-color:#c7e2f1;
    border-top-color:#5794bf;
    border-left-color:#b7d5ea;
    border-right-color:#c5daed;
    }

    QAbstractSpinBox::up-arrow {
    image:url(':/images/upArrow_small');
    }

    QAbstractSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width:21px;
    background:#fcfcfc;
    border-top:0px;
    border-left:0px;
    border-right:1px solid #000000;
    border-bottom:1px solid #000000;
    padding-right:1px;
    padding-left:5px;
    padding-bottom:2px;

    border-bottom-color:#e3e9ef;
    border-top-color:#abadb3;
    border-left-color:#e2e3ea;
    border-right-color:#dbdfe6;
    }

    QAbstractSpinBox::down-arrow {
    image:url(':/images/downArrow_small');
    }


    /****************************************************************************************/
                        /*************** Overview Page*****************/
    /****************************************************************************************/


    /*************** ########Top tool bar########*****************/
    QToolBar {
        margin-top: 7px;
        margin-bottom: 7px;
        background-color: rgb(255, 255,255);
        border-style: none;
        font-size: 8px ;
        border-bottom:0px solid #d2d2d2;

       }

    QToolBar > QToolButton {
            background-color: transparent;
            border:0px solid #333;
            margin-right: 50px;
            qproperty-iconSize: 15px;
            padding-left: 5px;
            padding-right: 5px;
            }


    QToolBar > QToolButton:checked {
            border-bottom-style: solid;
            border-top-style: solid;
            border-bottom-width: 3px;
            border-top-width: 3px;
            border-top-color: white;
            border-bottom-color: qlineargradient(x1:0,y1:0,x2:1,y2:0,
                    stop:0 #ffffff
                    stop:0.2 rgb(158,208,233)
                    stop:0.8 rgb(158,208,233)
                    stop:1 #ffffff);

        }


    QToolBar > QToolButton:hover:!checked {
            padding-left: 7px;
            padding-top: 7px;
    }




    QWidget  .QPushButton#ConnectionsIcon {
        background-color:transparent;
    }

    QWidget  .QPushButton#ConnectionsIcon:pressed {
        background-color:transparent;
        border : none;
    }


    QWidget  .QPushButton#EncryptionIcon {
        background-color:transparent;
    }
    QWidget  .QPushButton#EncryptionIcon:pressed {
        background-color:transparent;
        border : none;
    }



     /*************** ########Frame_blue section########*****************/



     QWidget .QFrame#frame_blue { /*blue frame */

        border-image: url(':/images/frame_blue') 0 0 0 0 stretch stretch;
        background-repeat:none;
        border-style: none;
       }


    /*************** Frame_blue_1 section*****************/


    QWidget .QFrame#frame_blue_1 { /*blue frame 1 - total balance */

        background-color:transparent;
        border-style: none;
     }


     QWidget .QFrame#frame_blue .QLabel#label_5 { /* Balance Label */
            background-color:transparent;
            color:rgb(255, 255, 255);
            font-size:20px;
          }

    QWidget .QFrame#frame_blue .QLabel#labelWalletStatus { /* out of sync */
            background-color:transparent;
            color:rgb(255, 15, 15);
            margin-top: 2px;
            font-weight:bold;
            font-size:12px;
         }


    QWidget .QFrame#frame_blue .QLabel#labelTotalText { /* Total text Label */
            background-color:transparent;
            color:rgb(255, 255, 255);
            font-size:15px;
         }


    QWidget .QFrame#frame_blue .QLabel#labelTotal { /* Total balance count Label */
            background-color:transparent;
            color:rgb(255, 255, 255);
            font-weight: 100;
            font-size:55px;
         }

        

     
         QWidget .QPushButton#blabel_XDNA {
            background-color: transparent;
            border:0;
            border-radius:0px;
            color: #ffffff;
            font-size:35px;
            padding-left:0px;
            padding-right:0px;
            padding-top:0px;
            padding-bottom:0px;
            }
    
         

    /*************** Frame_blue_2 section*****************/
    QWidget .QFrame#frame_blue_2 { /*blue frame 2 - detail balance */

        background-color:transparent;
        border-style: 1px solid;
     }


     QWidget .QFrame#frame_blue .QLabel#labelBalanceText { /*available text */
        background-color:transparent;
        color:rgb(255, 255, 255);
        font-size:15px;
     }

     QWidget .QFrame#frame_blue .QLabel#labelBalance {/*available */
        background-color:transparent;
        color:rgb(255, 255, 255);
        font-size:30px;
     }


     QWidget .QFrame#frame_blue .QLabel#label_XDNA2 { /*XDNA */
        background-color:transparent;
        color:rgb(255, 255, 255);
        font-size:15px;
     }

     QWidget .QFrame#frame_blue .QLabel#labelPendingText { /*pending text */
        background-color:transparent;
        color:rgb(255, 255, 255);
        font-size:15px;
     }

     QWidget .QFrame#frame_blue .QLabel#labelUnconfirmed { /*pending(unconfirmed) */
        background-color:transparent;
        color:rgb(255, 255, 255);
        font-size:30px;
     }

     QWidget .QFrame#frame_blue .QLabel#label_XDNA3 { /*XDNA */
        background-color:transparent;
        color:rgb(255, 255, 255);
        font-size:15px;
     }

     QWidget .QFrame#frame_blue .QLabel#labelImmatureText { /*Immature text */
        background-color:transparent;
        color:rgb(255, 255, 255);
        font-size:15px;
     }


     QWidget .QFrame#frame_blue .QLabel#labelImmature { /*Immature */
        background-color:transparent;
        color:rgb(255, 255, 255);
        font-size:30px;
     }


     QWidget .QFrame#frame_blue .QLabel#label_XDNA4 { /*XDNA */
        background-color:transparent;
        color:rgb(255, 255, 255);
        font-size:15px;
     }

    /*************** Frame_blue_3 section*****************/


    QWidget .QFrame#frame_blue_3 { /* logo */

        background-image: url(':/images/xdna_logo_horizontal');
        background-repeat:none;
        border-style: none;

    }



    /*************** ########bottom_section########*****************/

    /* */
    QWidget .QFrame#frame_bottom {

        background-color:transparent;
        border-style: none;

    }

    /*************** Frame_bottom_1 section*****************/

    QWidget .QFrame#frameInfo {  /*bottom frame 1 - info */
      background-color: #ffffff;
      border-style: none;
        border:1px solid #d2d2d2;
    }


    QWidget .QFrame#frame_bottom_1 {
       border-style: solid;
    }

    QWidget .QFrame#frameMnInfo {
        border-style: 0px;
     }
 
     QWidget .QFrame#frameMnInfoLevels {
        border-style: 0px;
        border-top: 1px solid #d2d2d2;
        border-top-color: qlineargradient(x1:0,y1:0,x2:1,y2:0,
        stop:0 #ffffff
        stop:0.2 #d2d2d2
        stop:0.8 #d2d2d2
        stop:1 #ffffff);


     }

     QWidget .QFrame#frameBlockchainInfo{
        border-style: 0px;
     }

      QWidget .QFrame#frameBlockchainInfoData{
        border-style: 0px;
        border-top: 1px solid #d2d2d2;
        border-top-color: qlineargradient(x1:0,y1:0,x2:1,y2:0,
        stop:0 #ffffff
        stop:0.2 #d2d2d2
        stop:0.8 #d2d2d2
        stop:1 #ffffff);

     }


    QWidget .QProgressBar#graphMN1 {
    color: #000000;
    border: 0px solid #d2d2d2;
    border-left:1px solid #d2d2d2;
    border-radius:0px;
    background-color:transparent;
    font-size: 12px;
    text-align: center;
    }


    QWidget QProgressBar#graphMN1::chunk {
    background-color:#8ac9f7;
    width: 20px;
   }

   QWidget QProgressBar#graphMN2 {
    color: #000000;
    border: 0px solid #d2d2d2;
    border-left:1px solid #d2d2d2;
    border-radius:0px;
    background-color:transparent;
    font-size: 12px;
    text-align: center;
    }


    QWidget QProgressBar#graphMN2::chunk {
    background-color:#538cd7;
    width: 20px;
   }


   QWidget QProgressBar#graphMN3 {
    color: #000000;
    border: 0px solid #d2d2d2;
    border-left:1px solid #d2d2d2;
    border-radius:1px;
    background-color:transparent;
    font-size: 12px;
    text-align: center;
    }


    QWidget QProgressBar#graphMN3::chunk {
    background-color:#2660b3;
    width: 20px;
   }



     QWidget .QTabWidget#AdditionalFeatures::pane {
        background-color: #ffffff;
        border-style: none;
          border:1px solid #d2d2d2;
    }



    QWidget .QFrame#frameObfuscation{
        background-color:transparent;
        border-style: none;
        padding-bottom: 10px;
     }


     QWidget .QFrame#ObfuscationInfoFrame{
        background-color:transparent;
        border-style: none;
        border-bottom: 1px solid #d2d2d2;

     }


     QWidget .QFrame#frameObfuscation .QFrame#frameObfuscationControl{
         background-color:transparent;
         border-style: none;

      }

     QWidget .QFrame#frameObfuscation QPushButton#toggleObfuscation{
     left-margin:0px;
     right-margin:0px;
     max-width: 256px;
     }

     QWidget .QFrame#frameObfuscation QPushButton#obfuscationReset{
        left-margin:15px;
        right-margin:0px;

        }




    /*************** Frame_bottom_2 section*****************/


    QWidget .QFrame#frame_bottom_2 { /*bottom frame 2 - transactions */

        background-color: transparent;
        border-style: none;

    }


    QWidget .QFrame#frame_bottom_2 .QLabel#label_4 {
        background-color:transparent;
        color: black;
        font-size:12px;
    }



    QWidget .QFrame#frame_bottom_2 .QLabel#labelTransactionsStatus{
        background-color:transparent;
        color: rgb(255, 15, 15);
        font-size:12px;
    }




    QWidget .QFrame#frame_bottom_2 .QListView { /* Transaction List */
        font-weight:normal;
        font-size:12px;
        margin-left:0px;
        padding: 4px;
        padding-top:8px;

        background-color: rgb(255, 255, 255);
        alternate-background-color: rgb(255, 255, 255);
        border:1px solid #d2d2d2;
       }

  .QListView::item { /* Transaction List */
  
    padding:10px;          
     }




    /*************** ########bottom status bar########*****************/

    QStatusBar { /*  */
            background-color:#ffffff;
            border-top-style:solid;
            border-width: 1px;
            }


            QStatusBar::item {
        border: none;

    }

    /****************************************************************************************/
                        /*************** SEND COINS PAGE *****************/
    /****************************************************************************************/



    QDialog#SendCoinsDialog {
    background-color:#ffffff;
    }

  
    /*************** ########Coin control frame########*****************/

    QDialog#SendCoinsDialog .QFrame#frameCoinControl { /* Coin Control Section */
    background-color:#ffffff;
    border: 1px solid #d2d2d2;
    }

    QDialog#SendCoinsDialog .QFrame#frameCoinControl > .QLabel { /* Default Font Color and  Size */
    font-weight:normal;
    }

    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton#pushButtonCoinControl { /* Coin Control Inputs Button */
    padding-left:10px;
    padding-right:10px;
    }

    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { /* Coin Control Header */
    color:#3f70b5;
    font-weight:bold;
    font-size:14px;
    }

    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl { /* Coin Control Inputs */
    }

    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl > .QLabel { /* Coin Control Inputs Labels */
    padding:2px;
    }

    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QCheckBox#checkBoxCoinControlChange { /* Custom Change Label */
    }

    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange { /* Custom Change Address */
    }

    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel { /* Custom Change Address Validation Label */
    font-weight:normal;
    qproperty-margin:-6;
    margin-right:112px;
    }



    /*************** ########COIN CONTROL POPUP DIALOG########*****************/
    QDialog#CoinControlDialog {
        background-color: #ffffff;

    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText { /* Coin Control Quantity Label */
    min-height:30px;
    padding-left:15px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity { /* Coin Control Quantity */
    min-height:30px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText { /* Coin Control Bytes Label */
    padding-left:15px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlBytes { /* Coin Control Bytes */
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText { /* Coin Control Amount Label */
    min-height:30px;
    padding-left:15px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlAmount { /* Coin Control Amount */
    min-height:30px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText { /* Coin Control Priority Label */
    padding-left:15px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlPriority { /* Coin Control Priority */
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText { /* Coin Control Fee Label */
    min-height:30px;
    padding-left:15px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlFee { /* Coin Control Fee */
    min-height:30px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText { /* Coin Control Low Output Label */
    padding-left:15px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutput { /* Coin Control Low Output */
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText { /* Coin Control After Fee Label */
    min-height:30px;
    padding-left:15px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee { /* Coin Control After Fee */
    min-height:30px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText { /* Coin Control Change Label */
    padding-left:15px;
    }

    QDialog#CoinControlDialog .QLabel#labelCoinControlChange { /* Coin Control Change */

    }

    QDialog#CoinControlDialog .QFrame#frame { /* (un)select all button */
     border: 1px solid #d2d2d2;
     background-color: #ffffff;
    }


    QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll { /* (un)select all button */
    padding-left:10px;
    padding-right:10px;
    min-height:25px;
    }

    QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonToggleLock { /* Toggle lock state button */
    padding-left:10px;
    padding-right:10px;
    min-height:25px;
    }

    QDialog#CoinControlDialog .QDialogButtonBox#buttonBox QPushButton { /* Coin Control 'OK' button */
    }

    QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode { /* Coin Control Tree Mode Selector */
    color:#818181;
    background-color:transparent;
    }

    QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode { /* Coin Control List Mode Selector */
    color:#818181;
    background-color:transparent;
    }

    QDialog#CoinControlDialog QHeaderView::section:first { /* Bug Fix: the number "1" displays in this table for some reason... */
    color:transparent;
    }

    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget { /* Coin Control Widget Container */
    outline:0;
    background-color:#ffffff;
     border: 1px solid #d2d2d2;
    }

    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {
    }

    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
    background-color:#000000;
    color:#fff;
    }

    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
    background-color:#f7f7f7;
    color:#fff;
    }

    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
    background-image: url(':/images/qtreeview_selected');
    background-repeat:no-repeat;
    background-position:center;
    background-color:#f7f7f7;
    color:#333;
    }

    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
    background-image: url(':/images/qtreeview_selected');
    background-repeat:no-repeat;
    background-position:center;
    background-color:#f7f7f7;
    color:#333;
    }

    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::seperator {

    }

    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::indicator { /* Coin Control Widget Checkbox */

    }



    /*************** ########Send coins entry frame########*****************/

    QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */

    }

    QStackedWidget#SendCoinsEntry .QFrame#SendCoins {
    background-color:white;
    border-style: none;

    }

    QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#amountLabel {

    }

    QStackedWidget#SendCoinsEntry .QValidatedLineEdit#payTo { /* Pay To Input Field */
    }

    QStackedWidget#SendCoinsEntry .QToolButton { /* General Settings for Pay To Icons */
    background-color:transparent;
    padding-left:5px;
    padding-right:5px;
    border: 0;
    outline: 0;
    }

    QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton { /* Address Book Button */
    background-color:transparent;
    }

    QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton:hover { /* Address Book Button */
      background-color:#e7f3fa;
      border-radius: 5px;
      color:#333;
    }

    QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton:pressed { /* Address Book Button */
    border:1px solid #9e9e9e;
    }


    QStackedWidget#SendCoinsEntry .QToolButton#pasteButton {
      background-color:transparent;
    }

    QStackedWidget#SendCoinsEntry .QToolButton#pasteButton:hover {
      background-color:#e7f3fa;
      border-radius: 5px;
      color:#333;
    }

    QStackedWidget#SendCoinsEntry .QToolButton#pasteButton:pressed {
      border:1px solid #9e9e9e;
    }


    QStackedWidget#SendCoinsEntry .QToolButton#deleteButton {
      background-color:transparent;
    }

    QStackedWidget#SendCoinsEntry .QToolButton#deleteButton:hover {
      background-color:#e7f3fa;
      border-radius: 5px;
      color:#333;
    }

    QStackedWidget#SendCoinsEntry .QToolButton#deleteButton:pressed {
      border:1px solid #9e9e9e;
    }


    QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel { /* Pay To Input Field */
    }



    QDialog#Bip38ToolDialog QPushButton#copyKeyButton_ENC { /* Copy Address Button */
    background-color:transparent;
    }

    QDialog#Bip38ToolDialog QPushButton#copyKeyButton_ENC:hover {
    background-color:#e7f3fa;
    border-radius: 7px;
    color:#333;
    }

    QDialog#Bip38ToolDialog QPushButton#copyKeyButton_ENC:pressed {
    border:1px solid #9e9e9e;
    }


    /*************** ########scrollArea########*****************/

    QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents { /* Send To Widget */
    background:transparent;
    }

    QDialog#SendCoinsDialog .QScrollArea#scrollArea {
    background:transparent;
    border: 1px solid #d2d2d2;
    }


    /*************** ########Fee frame########*****************/

    QDialog#SendCoinsDialog .QFrame#frameFee
    {
    background:transparent;
    border: 1px solid #d2d2d2;

    }


    QDialog#SendCoinsDialog .QPushButton#sendButton { /* Send Button */
    padding-left:10px;
    padding-right:10px;
    }

    QDialog#SendCoinsDialog .QPushButton#clearButton { /* Clear Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QDialog#SendCoinsDialog .QPushButton#clearButton:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QDialog#SendCoinsDialog .QPushButton#clearButton:pressed {
    border:1px solid #9e9e9e;
    }

    QDialog#SendCoinsDialog .QPushButton#addButton { /* Add Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QDialog#SendCoinsDialog .QPushButton#addButton:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QDialog#SendCoinsDialog .QPushButton#addButton:pressed {
    border:1px solid #9e9e9e;
    }

    QDialog#SendCoinsDialog .QCheckBox#checkUseObfuscation { /* Obfuscation Checkbox */
    color:#616161;
    font-weight:bold;
    background:transparent;
    border-radius:0px;
    padding-top:20px;
    padding-bottom:18px;
    }

    QDialog#SendCoinsDialog .QCheckBox#checkSwiftTX { /* SwiftTX Checkbox */
    color:#616161;
    font-weight:bold;
    background:transparent;
    border-radius:0px;
    padding-top:20px;
    padding-bottom:18px;
    margin-left:10px;
    margin-right:20px;
    }


    QDialog#SendCoinsDialog QLabel#label {
    min-height:27px;
    }

    QDialog#SendCoinsDialog QLabel#labelBalance {
    margin-left:0px;
    padding-left:0px;
    color:#333333;
    min-height:27px;
    }



    /****************************************************************************************/
                        /*************** RECEIVE COINS PAGE *****************/
    /****************************************************************************************/


    QWidget#ReceiveCoinsDialog {
    background-color:#ffffff;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame2
    {
     border: 1px solid #d2d2d2;
     background-color:#ffffff;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_2 { /* Label Label */
    min-width:102px;
    font-size:11px;
    padding-right:5px;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label { /* Amount Label */
    min-width:102px;
    font-size:11px;
    padding-right:5px;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_3 { /* Message Label */
    min-width:102px;
    font-size:11px;
    padding-right:5px;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton { /* Clear Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:pressed {
    border:1px solid #9e9e9e;
    }



    QWidget#ReceiveCoinsDialog .QFrame#frame
    {
     border: none

    }


    QWidget#ReceiveCoinsDialog .QFrame#frame QTableView#recentRequestsView{ /*table */
     border: 1px solid #d2d2d2;
     background-color: #ffffff;

    }


    QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton { /* Show Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:pressed {
    border:1px solid #9e9e9e;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton { /* Remove Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:pressed {
    border:1px solid #9e9e9e;
    }

    QWidget#ReceiveCoinsDialog .QFrame#frame .QLabel#label_6 { /* Requested Payments History Label */
    color:#3f70b5;
    font-weight:bold;
    font-size:14px;
    }

    /*************** ######## RECEIVE COINS DIALOG ########*****************/
    QDialog#ReceiveRequestDialog { /* Contents of Receive Coin Dialog */

    background-color: #ffffff;
    }
    QDialog#ReceiveRequestDialog QTextEdit { /* Contents of Receive Coin Dialog */
    border:1px solid #d2d2d2;
    }


    /****************************************************************************************/
                        /*************** TRANSACTIONS PAGE *****************/
    /****************************************************************************************/


    TransactionView QLineEdit { /* Address Filter */
    margin-bottom:2px;
    margin-right:1px;
    min-width:111px;
    text-align:center;
    }


     TransactionView QFrame{
        border: none;
        background-color: #ffffff;
    }

    TransactionView .QTableView{
        border: 1px solid #d2d2d2;
        background-color: #ffffff;

    }

    TransactionView QComboBox {
    margin-bottom:1px;
    margin-right:1px;
    font-size:15;
    }

    QLabel#transactionSumLabel {
    color:#333333;
    font-weight:bold;
    }

    QLabel#transactionSum {
    color:#333333;
    }


    /*************** ######## TRANSACTION DETAILS DIALOG ########*****************/
    QDialog#TransactionDescDialog QTextEdit { /* Contents of Receive Coin Dialog */
    border:1px solid #d7d7d7;
    }

    /*************** ######## CALENDAR WIDGET ########*****************/

    QCalendarView {
    border:1px solid #333;
    }

    QCalendarWidget QWidget#qt_calendar_navigationbar { /* Calendar widget navigation bar */
    background-color: #3868AA;
    font-weight:bold;
    }

    QCalendarWidget QAbstractItemView { /* Calendar widget days */
    alternate-background-color:#dedbe5;
    background-color:#fff;
    }

    QCalendarWidget QAbstractItemView:enabled { /* Calendar widget weekdays in month */
    color:#333;
    }

    QCalendarWidget QAbstractItemView:disabled { /* Calendar widget days not in month */
    color:#818181;
    }

    /****************************************************************************************/
                        /*************** MASTERNODE PAGE *****************/
    /****************************************************************************************/

    QWidget#MasternodeList .QTableWidget{
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    }

    QWidget#MasternodeList .QTabWidget:pane{
    border-bottom: 0px none;
    background-color: #ffffff;
    }


    /****************************************************************************************/
                        /*************** TOOLS PAGE *****************/
    /****************************************************************************************/


    QWidget#ToolsPage QWidget#tab_peers QLabel#peerHeading { /* Peers Info Header */
    color:#3f70b5;
    }


    QWidget#ToolsPage QWidget#peerWidget{
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    }




    QWidget#ToolsPage QTableView#peerWidget::item { /* Peers Table Items */
    color:#333;
    }

    QWidget#ToolsPage QPushButton#openDebugLogfileButton {
    max-width:60px;
    }

    QWidget#ToolsPage QTextEdit#messagesWidget { /* Console Messages Window */
    border:0;
    background-color:#fcfcfc;
    color:#333;
    }

    QWidget#ToolsPage QLineEdit#lineEdit { /* Console Input */
    margin-right:5px;
    }

    QWidget#ToolsPage QPushButton#clearButton { /* Console Clear Button */
    background-color:transparent;
    padding-left:10px;
    padding-right:10px;
    }

    QWidget#ToolsPage .QGroupBox #line { /* Network In Line */
    background-color:green;
    }

    QWidget#ToolsPage .QGroupBox #line_2 { /* Network Out Line */
    background:red;
    }


    /****************************************************************************************/
                        /*************** EXPLORER PAGE *****************/
    /****************************************************************************************/

    QWidget#BlockExplorer .QWidget#scrollAreaWidgetContents {
    border: none;
    background-color: #ffffff;
    }

    QWidget#BlockExplorer .QScrollArea {
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    }



    /****************************************************************************************/
                        /*************** SIGN/ VERIFY MESSAGE DIALOG *****************/
    /****************************************************************************************/

    QDialog#SignVerifyMessageDialog{

    border: 0px solid #d2d2d2;
    background-color: #ffffff;

    }



    QDialog#SignVerifyMessageDialog QLineEdit {

    font-size: 12;

    }

    QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM { /* Address Book Button */
    background-color:transparent;

    }
    QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM::hover { /* Address Book Button */
    background-color:#e7f3fa;
    border-radius: 7px;

    }

    QDialog#SignVerifyMessageDialog QPlainTextEdit { /* Message Signing Text */
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    }

    QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM { /* Paste Button */
    background-color:transparent;

    }

    QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM::hover { /* Paste Button */
    background-color:#e7f3fa;
    border-radius: 7px;
    }

    QDialog#SignVerifyMessageDialog QLineEdit:!focus { /* Font Hack */
    font-size:10px;
    }

    QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM { /* Copy Button */

    background-color:transparent;

    }

    QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM::hover { /* Copy Button */

    background-color:#e7f3fa;
    border-radius: 7px;

    }

    QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM { /* Clear Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:pressed {
    border:1px solid #9e9e9e;
    }

    QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM { /* Verify Message - Address Book Button */
    background-color:transparent;

    }

    QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM::hover { /* Verify Message - Address Book Button */
    background-color:#e7f3fa;
    border-radius: 7px;
    }


    QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM { /* Verify Message - Clear Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:pressed {
    border:1px solid #9e9e9e;
    }


    /****************************************************************************************/
                        /***************OpenURIDialog DIALOG *****************/
    /****************************************************************************************/

    QDialog#OpenURIDialog {

    background-color:#fff;

    }


    /****************************************************************************************/
                        /*************** SEND AND RECEIVE DIALOG *****************/
    /****************************************************************************************/


    QWidget#AddressBookPage {
    background-color:#fff;
    border: 0;
    }

    QWidget#AddressBookPage QPushButton#newAddress { /* New Address Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QWidget#AddressBookPage QPushButton#newAddress:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QWidget#AddressBookPage QPushButton#newAddress:pressed {
    border:1px solid #9e9e9e;
    }

    QWidget#AddressBookPage QPushButton#copyAddress { /* Copy Address Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QWidget#AddressBookPage QPushButton#copyAddress:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QWidget#AddressBookPage QPushButton#copyAddress:pressed {
    border:1px solid #9e9e9e;
    }

    QWidget#AddressBookPage QPushButton#deleteAddress { /* Delete Address Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QWidget#AddressBookPage QPushButton#deleteAddress:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QWidget#AddressBookPage QPushButton#deleteAddress:pressed {
    border:1px solid #9e9e9e;
    }

    QWidget#AddressBookPage QTableView { /* Address Listing */
    font-size:12px;
    border: 1px solid #d2d2d2;
    }

    QWidget#AddressBookPage QHeaderView::section { /* Min width for Windows fix */
    min-width:260px;
    }



    /****************************************************************************************/
                        /*************** Bip38Dialog *****************/
    /****************************************************************************************/

    QDialog#Bip38ToolDialog  {
    background-color:#fff;

    }

    QDialog#Bip38ToolDialog  QLineEdit {
    font-size: 12;
    }


    QDialog#Bip38ToolDialog QPushButton#copyKeyButton_ENC { /* Copy Address Button */
    background-color:transparent;
    }

    QDialog#Bip38ToolDialog QPushButton#copyKeyButton_ENC:hover {
    background-color:#e7f3fa;
    border-radius: 7px;
    color:#333;
    }

    QDialog#Bip38ToolDialog QPushButton#copyKeyButton_ENC:pressed {
    border:1px solid #9e9e9e;
    }

    QDialog#Bip38ToolDialog QPushButton#addressBookButton_ENC { /*  Address Book Button */
    background-color:transparent;
    }

    QDialog#Bip38ToolDialog QPushButton#addressBookButton_ENC:hover {
    background-color:#e7f3fa;
    border-radius: 7px;
    color:#333;
    }

    QDialog#Bip38ToolDialog QPushButton#addressBookButton_ENC:pressed {
    border:1px solid #9e9e9e;
    }


    QDialog#Bip38ToolDialog QPushButton#pasteButton_ENC { /*  Address Book Button */
    background-color:transparent;
    }

    QDialog#Bip38ToolDialog QPushButton#pasteButton_ENC:hover {
    background-color:#e7f3fa;
    border-radius: 7px;
    color:#333;
    }

    QDialog#Bip38ToolDialog QPushButton#pasteButton_ENC:pressed {
    border:1px solid #9e9e9e;
    }


    QDialog#Bip38ToolDialog QPushButton#clearButton_ENC { /* Clear Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QDialog#Bip38ToolDialog QPushButton#clearButton_ENC:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QDialog#Bip38ToolDialog QPushButton#clearButton_ENC:pressed {
    border:1px solid #9e9e9e;
    }

    QDialog#Bip38ToolDialog QPushButton#clearButton_DEC { /* Clear Button */
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
    border:1px solid #d2d2d2;
    color:#616161;
    padding-left:10px;
    padding-right:10px;
    }

    QDialog#Bip38ToolDialog QPushButton#clearButton_DEC:hover {
    background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
    color:#333;
    }

    QDialog#Bip38ToolDialog QPushButton#clearButton_DEC:pressed {
    border:1px solid #9e9e9e;
    }

    /****************************************************************************************/
                        /*************** MultiSendDialog *****************/
    /****************************************************************************************/

    QDialog#MultiSendDialog  {
    background-color:#fff;
    min-height: 502;
    }

    QDialog#MultiSendDialog  QLineEdit {
    font-size: 12;
    }


    QDialog#MultiSendDialog QPushButton#addressBookButton { /*  Address Book Button */
    background-color:transparent;
    }

    QDialog#MultiSendDialog QPushButton#addressBookButton:hover {
    background-color:#e7f3fa;
    border-radius: 7px;
    color:#333;
    }

    QDialog#MultiSendDialog QPushButton#addressBookButton:pressed {
    border:1px solid #9e9e9e;
    }


    QDialog#MultiSendDialog QLabel#message {
    border:1px solid #d2d2d2;
    }



    /****************************************************************************************/
                        /*************** MultisigDialog *****************/
    /****************************************************************************************/


    QDialog#MultisigDialog QWidget#addMultisigTab  {
    background-color:#fff;

    }

    QDialog#MultisigDialog QFrame#addressFrame {
    background-color:#fff;

    }

    QDialog#MultisigDialog QTextEdit {
    background-color:#fff;

    }


    QDialog#MultisigDialog QPushButton {
    background-color:#fff;

    }


    QDialog#MultisigDialog  * {
    background-color:#ffffff;
    }

    QDialog#MultisigDialog  QFrame {
    background-color:#ffffff;
    }


    QDialog#MultisigDialog  .QFrame#addressFrame {
    background-color:#ffffff;
    }


    QDialog#MultisigDialog QPushButton#addressBookButton { /*  Address Book Button */
    background-color:transparent;
    }

    QDialog#MultisigDialog QPushButton#addressBookButton:hover {
    background-color:#e7f3fa;
    color:#333;
    }

    QDialog#MultisigDialog QPushButton#addressBookButton:pressed {
    border:1px solid #9e9e9e;
    }


    QDialog#MultisigDialog QPushButton#addressPasteButton { /*  Address edit Book Button */
    background-color:transparent;
    }

    QDialog#MultisigDialog QPushButton#addressPasteButton:hover {
    background-color:#e7f3fa;
    color:#333;
    }

    QDialog#MultisigDialog QPushButton#addressPasteButton:pressed {
    border:1px solid #9e9e9e;
    }



    QDialog#MultisigDialog QPushButton#addressDeleteButton { /*  Address delete Button */
    background-color:transparent;
    }

    QDialog#MultisigDialog QPushButton#addressDeleteButton:hover {
    background-color:#e7f3fa;
    color:#333;
    }

    QDialog#MultisigDialog QPushButton#addressDeleteButton:pressed {
    border:1px solid #9e9e9e;
        }




    QDialog#MultisigDialog QLabel#message {
    border:1px solid #d2d2d2;
    }







    /****************************************************************************************/
                        /*************** OPTIONS MENU *****************/
    /****************************************************************************************/

    /* Encrypt Wallet and Change Passphrase Dialog */
    QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {

    }

    QDialog#AskPassphraseDialog{

    background-color: #ffffff;
    }


    /* Options Dialog */
    QDialog#OptionsDialog QValueComboBox, QDialog#OptionsDialog QSpinBox {
    margin-top:5px;
    margin-bottom:5px;
    }

    QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-height:20px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:1px;
    padding-bottom:1px;
    }


    QDialog#OptionsDialog{

    background-color: #ffffff;
    }

    QDialog#OptionsDialog > QLabel {
    qproperty-alignment: 'AlignVCenter';
    min-height:20px;
    }

    QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
    margin-top:0px;
    margin-bottom:0px;
    }

    QDialog#OptionsDialog QLabel#label_3 { /* Translations Missing? Label */
    qproperty-alignment: 'AlignVCenter | AlignCenter';
    color:#818181;
    padding-bottom:8px;
    }

    QDialog#OptionsDialog QCheckBox {
    qproperty-alignment: 'AlignVCenter';
    min-height:20px;
    }

    QDialog#OptionsDialog QCheckBox#displayAddresses {
    min-height:33px;
    }


    /* Command Line Options Dialog */
    QDialog#HelpMessageDialog {
    background-color: #ffffff;
    min-height: 450px;
    }

    QDialog#HelpMessageDialog QScrollArea * {
    background-color:#fff;
    }

    QDialog#HelpMessageDialog QScrollBar:vertical, QDialog#HelpMessageDialog QScrollBar:horizontal {
    border:0;
    }

    /* About XDNA Dialog */
    QDialog#AboutDialog QLabel#label, QDialog#AboutDialog QLabel#copyrightLabel, QDialog#AboutDialog QLabel#label_2 { /* About Bulwark Contents */
    margin-left:10px;
    }

    QDialog#AboutDialog QLabel#label_2 { /* Margin for About Bulwark text */
    margin-right:10px;
    }

    /* Edit Address Dialog */
    QDialog#EditAddressDialog QLabel {
    qproperty-alignment: 'AlignVCenter | AlignRight';
    min-height:27px;
    font-weight:normal;
    padding-right:5px;
    }
